.navbar
{
    background-color: black;
    color:white;
    font-size:xx-large;
    display:flex;
    justify-content: center;
    padding: 15px;
}
.contenier
{
    display: grid;
    grid-template-columns: repeat(3,8vw);
    grid-template-rows: repeat(3,8vw);
    margin-top:50px;
    margin-left:500px;
}
.box
{
    border:2px solid;
}
.boxtext
{
    font-size:5vw ;
    display:flex;
    justify-content: center;
}
.gameinfo
{
    margin-left:500px;
    margin-top: 50px;
}
.br-0
{
 border-right:0px ;
}
.bl-0
{
border-left:0px;
}
.bt-0
{
border-top:0px ;
}
.bb-0
{
border-bottom:0px ;
}